body {
    font-family: 'Catamaran', sans-serif;
}
.imageHistoire {
    width: 400px;
}
.imagePc {
    width: 500px;
    /* center l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagePs4 {
    width: 500px;
    /* center l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avis{
    background-color: lightgray;
}
.avisSubheader{
    font-weight: bold;
}
.avisSubheader p{
    margin: 0pt;
}

.event{
    background-color: lightgrey;
}
.eventInfo{
    font-weight: bold;
}
.newsBlock {
    border-radius: 10px solid;
    border-color: black;
    padding-bottom: 30px;
}
.newsHeader {
    background-color: deepskyblue;
}
.newsTitle {
    font-weight: bold;
    /* increase span width and fixed size 
    https://stackoverflow.com/a/4057499
    */
    display: inline-block;
    min-width: 400px;
}
.newsDate {
    text-align: right;
    padding-left: 200px;
}
.newsContent {
    font-style: italic;
}
.newsContent img {
    float: left;
    max-width: 200px;
    padding-right: 10px;
}
