body {
    font-family: 'Catamaran', sans-serif;
}

/*
navbar basée sur https://github.com/yobilyo/CFA_Stage/blob/main/vue/style/navbar.css
*/
/* create responsive */
/* mobile view on chrome windows 10
https://www.browserstack.com/guide/view-mobile-version-of-website-on-chrome
 */

@media screen and (max-width: 427px) {
    /* very small devices (smaller than small smartphone) */
    nav ul {
        width: auto;
        margin : auto;
        justify-content : space-around;
        align-items: center;
        color: black; 
    }
    li {
        writing-mode:vertical-rl;
    }
    .mainUl {
        display : flex;
        height: 37px;
        border-radius: 50px;
        padding : 15px;
        background-color : #F2F3F4;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .logoAccueil {
        width: 35px;
        height: 35px;
    }
    .dropdown {
        position: relative;
        top: 90px;
    }
}

@media screen and (min-width: 428px) and (max-width: 480px) {
    /* smaller smartphones */
    nav ul {
        width: auto;
        justify-content : space-around;
        align-items: center;
        color: black;   
    }
    .mainUl {
        display : flex;
        height: 37px;
        border-radius: 50px;
        padding : 15px;
        background-color : #F2F3F4;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .logoAccueil {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* tablets and larger smartphones */
    nav ul {
        width: auto;
        justify-content : space-around;
        align-items: center;
        color: black;   
    }
    .mainUl {
        display : flex;
        height: 47px;
        border-radius: 50px;
        padding : 15px;
        background-color : #F2F3F4;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .logoAccueil {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    /* laptops, larger tablets in landscape, and small desktops */
    nav ul {
        width: auto;
        justify-content : space-around;
        align-items: center;
        color: black;   
    }
    .mainUl {
        display : flex;
        height: 47px;
        border-radius: 50px;
        padding : 15px;
        background-color : #F2F3F4;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logoAccueil {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1280px) {
    /* larger desktops and monitors */
    nav ul {
        width: auto;
        justify-content : space-around;
        align-items: center;
        color: black;   
    }
    .mainUl {
        display : flex;
        height: 47px;
        border-radius: 50px;
        padding : 15px;
        background-color : #F2F3F4;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logoAccueil {
        width: 40px;
        height: 40px;
    }
}

nav li {
    /* créer une liste sans puce
    https://fr.w3docs.com/snippets/css/comment-supprimer-remplacer-ou-styler-les-puces-de-la-liste-avec-css.html
    */
    list-style-type: none;
    color: inherit;
}
.triangleDropdown {
    font-size: 0.70em;
}
.dropdown {
    display: none;
    position:absolute;      /*pour ne pas faire bouger la navbar quand on deroule le dropdown*/
	box-shadow:0px 0px 1px 0px ;
    padding: 7px;
    border-radius: 20px;
    background-color : #F8F9F9;
    margin : auto;
}
.baisserLeDropdown:hover .dropdown {
    display: block;
}
.afficherDropdown:hover .dropdown {
    display: block;
}
.lienNavbar {
    text-decoration: none;
    color: inherit; 
}
.lienNavbar:hover {
    text-shadow: 0px 0px 1px;
}
.lienDropdown {
    text-decoration: none;
    margin: auto;
    color: inherit;
}
.lienDropdown:hover {
    text-shadow: 0px 0px 1px;
}

.imageHistoire {
    width: 400px;
}
.imagePc {
    width: 500px;
    /* center l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagePs4 {
    width: 500px;
    /* center l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avis{
    background-color: lightgray;
}
.avisSubheader{
    font-weight: bold;
}
.avisSubheader p{
    margin: 0pt;
}

.event{
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}
.event h2{
    background-color: indianred;
    padding: 5px;
}
.eventInfo{
    font-weight: bold;
    padding-left: 5px;
    border-bottom: solid 2px indianred;
}
.event img {
    float: left;
    max-width: 200px;
    margin: 20px;
}

.newsBlock {
    border-radius: 10px solid;
    border-color: black;
    padding-bottom: 10px;
}
.newsHeader {
    background-color: deepskyblue;
}
.newsTitle {
    font-weight: bold;
    /* increase span width and fixed size 
    https://stackoverflow.com/a/4057499
    */
    display: inline-block;
    min-width: 400px;
    padding-right: 200px;
}
.newsDate {
    text-align: right;
}
.newsContent {
    font-style: italic;
    /* increase div height to fit content (image on the left is bigger than text quantity, or vice versa) => harmonize div size to be max of the 2 
    https://stackoverflow.com/a/17807687
    */
    display: block;
    overflow: auto;
}
.newsContent img {
    float: left;
    max-width: 200px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10%;
    border: 2px solid orange;
}

.testsBlock {
    border-radius: 10px solid;
    border-color: black;
    padding-bottom: 10px;
}
.testsHeader {
    background-color: orangered;
}
.testsTitle {
    font-weight: bold;
    /* increase span width and fixed size 
    https://stackoverflow.com/a/4057499
    */
    display: inline-block;
    min-width: 400px;
    padding-right: 200px;
}
.testsDate {
    text-align: right;
}
.testsContent {
    font-style: italic;
    /* increase div height to fit content (image on the left is bigger than text quantity, or vice versa) => harmonize div size to be max of the 2 
    https://stackoverflow.com/a/17807687
    */
    display: block;
    overflow: auto;
}
/* 
include an image in a bigger div
https://stackoverflow.com/a/28657183
*/
.testsDivImage {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    height:200px;
    border: solid;
    border-radius: 20%;
    float: left;
}
.testsContent img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20%;
}
/* create stars with rating
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_star_rating
*/
.checked {
    color: orange;
}

.portraitsEquipe{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.portrait {
    max-width: min-content;
    margin: 20px;
    padding: 20px;
    float: left;
}
.portrait h3 {
    text-align: center;
    border-top: solid 2px indianred;
    border-bottom: solid 2px indianred;
}
.jobTitle {
    color: gray;
}
.portrait img {
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 30px;
}
.portrait p {
    text-align: justify;
}

.timeline {
    /* la timeline est une version simplifiées de celle là : https://www.w3schools.com/howto/howto_css_timeline.asp/ */
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 1%;
    background: lightgray;
}
.timeline::after {
    /*la barre verticale*/
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 15px;
    width: 8px;
    border-radius: 25px;
    background-color: grey;
    margin-top: 1%;
    margin-bottom: 1%;
}
 .timeline article {
    position: relative;
    left: 35px;
    background: white;
    border: solid orange 3px;
    border-radius: 15px;
    width: 70%;
    padding : 15px;
    margin: 15px;
}
.timeline article::after {
    /*les points sur la barre verticale*/
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -50px;
    background-color: white;
    border: 3px solid orange;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.storeItem{
    background-color: lightgray;
    height: 250px;
    width: 200px;
    padding: 5px;
    margin: 10px;
    float: left;
    text-align: center;
}
.storeItem:hover{
    background-color: tomato;
    transition: 2s;    
}
.storeItem img{
    max-height: 160px;
    max-width: 150px;
}
.storeItem p{
    margin: 0px;
}
.storeItem .prix{
    color: black;
}