body {
    font-family: 'Catamaran', sans-serif;
}
.imageHistoire {
    width: 400px;
}
.imagePc {
    width: 500px;
    /* center l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagePs4 {
    width: 500px;
    /* center l'image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avis{
    background-color: lightgray;
}
.avisSubheader{
    font-weight: bold;
}
.avisSubheader p{
    margin: 0pt;
}

.event{
    background-color: lightgrey;
}
.eventInfo{
    font-weight: bold;
}
.newsBlock {
    border-radius: 10px solid;
    border-color: black;
    padding-bottom: 10px;
}
.newsHeader {
    background-color: deepskyblue;
}
.newsTitle {
    font-weight: bold;
    /* increase span width and fixed size 
    https://stackoverflow.com/a/4057499
    */
    display: inline-block;
    min-width: 400px;
    padding-right: 200px;
}
.newsDate {
    text-align: right;
}
.newsContent {
    font-style: italic;
    /* increase div height to fit content (image on the left is bigger than text quantity, or vice versa) => harmonize div size to be max of the 2 
    https://stackoverflow.com/a/17807687
    */
    display: block;
    overflow: auto;
}
.newsContent img {
    float: left;
    max-width: 200px;
    padding-top: 10px;
    padding-right: 10px;
}

.portrait {
    max-width: min-content;
    margin: 20px;
    padding: 20px;
    float: left;
}
.portrait h3 {
    text-align: center;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
}
.portrait img {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 30px;
}
.portrait p {
    text-align: justify;
}